.navbar {
    background-color: #000;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .navbar ul li {
    padding: 0 20px; 
  }
  
  .navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease; 
    color: #fff; 
  }
  
  .navbar ul li a:hover {
    color: #1db9c3; 
  }
  
.navbar ul li a.active {
    color: #1db9c3; 
    font-weight: bold;
  }
  